{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
  <div class="login_page_wrapper">
    <div class="md-card">
      <div class="md-card-content large-padding">
        <div class="login_heading">
          <div class="user_avatar"></div>
        </div>
        <form action="{{ path('fos_user_security_check') }}" method="post">
          <div class="uk-form-row">
            <label for="username">{% trans from "FOSUserBundle" %}security.login.username{% endtrans %}</label>
            <input class="md-input" type="text" id="username" name="_username" value="{{ last_username }}"/>
          </div>
          <div class="uk-form-row">
            <label for="password">{% trans from "FOSUserBundle" %}security.login.password{% endtrans %}</label>
            <input class="md-input" type="password" id="password" name="_password"/>
          </div>
          <div class="uk-margin-medium-top">
            <button type="submit" id="_submit" name="_submit" class="md-btn md-btn-primary md-btn-block md-btn-large">{% trans from "FOSUserBundle" %}security.login.submit{% endtrans %}</button>
          </div>
          <div class="uk-grid uk-grid-width-1-3 uk-grid-small uk-margin-top">
            <div>
              <a href="#" class="md-btn md-btn-block md-btn-facebook" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Facebook">
                <i class="uk-icon-facebook uk-margin-remove"></i>
              </a>
            </div>
            <div>
              <a href="#" class="md-btn md-btn-block md-btn-twitter" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Twitter">
                <i class="uk-icon-twitter uk-margin-remove"></i>
              </a>
            </div>
            <div>
              <a href="#" class="md-btn md-btn-block md-btn-gplus" data-uk-tooltip="{pos:'bottom'}" title="Sign in with Google+">
                <i class="uk-icon-google-plus uk-margin-remove"></i>
              </a>
            </div>
          </div>
          <div class="uk-margin-top">
            <a href="{{ path('fos_user_resetting_request') }}" id="login_help_show" class="uk-float-right">{{ 'login.help'|trans }}</a>
            <span class="icheck-inline">
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" data-md-icheck="data-md-icheck"/>
              <label for="login_page_stay_signed" class="inline-label">{% trans from "FOSUserBundle" %}security.login.remember_me{% endtrans %}</label>
            </span>
          </div>
          {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="uk-margin-top uk-text-center">
      <a href="{{ url('fos_user_registration_register') }}">{{ 'signup.title'|trans }}</a>
    </div>
  </div>

{% endblock fos_user_content %}

{% block fos_message %}
  {% if error %}
    <script type="text/javascript">
      UIkit.notify({message: "<a href='#' class='notify-action'><span class='uk-icon-times md-light'></span></a>{{ error.messageKey|trans(error.messageData, 'security') }}", status: "danger", timeout: 1000, group: null, pos: 'top-right'});
    </script>
  {% endif %}
{% endblock %}
