{% extends 'layout/base.html.twig' %}

{% block head_javascripts %}
  {{ parent() }}
  <!-- datatables -->
  <script src=" {{ asset('jquery.dataTables.min.js')}} "></script>
{% endblock %}

{% block title_page %}
  <div id="page_heading" class="non-printable" data-uk-sticky="{ top: 48, media: 960 }">
    <h1>{{ 'user.list.title'|trans }}</h1>
    <span class="uk-text-muted uk-text-upper uk-text-small">
      {% block sub_title_page %}
        <a href="#">{{ 'menu.dashbord'|trans }}</a>
      {% endblock %}
    </span>
  </div>
{% endblock %}

{% block body %}
  <div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
      {{ sg_datatables_render(users) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!-- datatables custom integration -->
  <script src=" {{ asset('datatables.uikit.min.js')}} "></script>
  <script src=" {{ asset('uikit_custom_dataTable.js')}} "></script>
{% endblock %}
