{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- google web fonts -->
  <link href="{{ asset('google_fonts.comfortaa')}}" rel="stylesheet">
  <!-- uikit -->
  <link rel="stylesheet" href="{{ asset('cv_content.css') }}" media="all">
{% endblock %}

{% block body %}
  {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
  <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="data-uk-grid-margin" data-uk-grid-match="{target:'.md-cv-content'}">
    <div class="uk-width-large-2-10 uk-width-medium-3-10 uk-width-small-4-10">
      <!-- cv Menu -->
      <div id="right-bar" class="md-cv-content md-card md-bg-blue-700" style="background-color: {{app.user.rightColor }} !important;">
        <div class="md-card-content">
          <div class="user_heading uk-text-center">
            <div class="user_heading_avatar md-card-head-avatar no-border fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail">
                {% if app.user.imageName %}
                  <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ app.user.imageName }}"/>
                {% else %}
                  <img src="{{ asset('user@2x.png') }}" alt="user avatar"/>
                {% endif %}
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
              <div class="user_avatar_controls">
                <span class="btn-file">
                  <span class="fileinput-new">
                    <i class="material-icons">&#xE2C6;</i>
                  </span>
                  <span class="fileinput-exists">
                    <i class="material-icons">&#xE86A;</i>
                  </span>
                  {{ form_widget(form.imageFile , { 'attr' : { 'id' : 'condidate_cv_edit_avatar_control'}}) }}
                </span>
                <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput">
                  <i class="material-icons">&#xE5CD;</i>
                </a>
              </div>
            </div>
          </div>
          <h3 class="md-card-head-text uk-text-center md-color-white">
            {% if app.user.firstName and app.user.lastName %}
              {{ app.user.firstName|humanize ~ " " ~ app.user.lastName|humanize }}
            {% else %}
              {{ 'user.default.full_name'|trans }}
            {% endif %}
            <span class="uk-text-truncate">{{ app.user.currentPosition|default('user.default.current_position'|trans) }}</span>
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list uk-text-center white-list-border">
            <li>
              <div class="md-list-content">
                <span class="md-list-heading">
                  <a class="md-color-white uk-text-break" href="{{ path('fos_user_change_password') }}">{{ 'user.change_password.title'|trans }}</a>
                </span>
                <span class="uk-text-small md-color-white uk-text-break">{{ 'user.change_password.sub-title'|trans }}</span>
              </div>
            </li>
            {% if not is_granted('ROLE_SUPER_ADMIN') %}
            <li>
              <div class="md-list-content">
                <span class="md-list-heading">
                  <a class="md-color-white uk-text-break" href="{{ path('condidate_cv_edit' , {'id' : app.user.id }) }}">{{ 'user.edit_cv.title'|trans }}</a>
                </span>
                <span class="uk-text-small md-color-white uk-text-break">{{ 'user.edit_cv.sub-title'|trans }}</span>
              </div>
            </li>
            {% endif %}
            <li>
              <div class="md-list-content">
                <span class="md-list-heading">
                  <a class="md-color-white uk-text-break" href="{{ path('fos_user_profile_show') }}">{{ 'user.profile.title'|trans }}</a>
                </span>
                <span class="uk-text-small uk-text-break md-color-white">{{ 'user.profile.sub-title'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- cv Menu -->
    </div>
    <div class="uk-width-large-8-10 uk-width-medium-7-10 uk-width-small-6-10">
      <!-- cv content box -->
      <div class="md-cv-content cv-box">
        <!-- cv head -->
        <div id="left-bar" class="md-card md-bg-red-700" style="background-color: {{app.user.leftColor }} !important;">
          <h3 class="uk-text-center title-shadow uk-text-break font-nova">
              {{ 'user.edit_profile.title'|trans }}
          </h3>
        </div>
        <!-- cv bloc education -->
        <div id="bloc_education">
          <div class="uk-grid cv-bloc-section">
            <!-- cv bloc education col -->
            <div class="uk-width-1-1 section-col">
              <div class="cv-section-box">
                <!-- cv bloc education name -->
                <div class="cv-bloc-small-name">
                  <h3 class="font-nova uk-text-break uk-text-break  no-margin bloc-name">{{ 'user.profile.user_info'|trans }}</h3>
                </div>
                <!-- cv bloc education title & description -->
                <div class="cv-bloc-description">
                  <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin="data-uk-grid-margin">
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.firstName) }}</label>
                        {{ form_widget(form.firstName)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.firstName) }}
                        </div>
                      </div>

                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.birthday) }}</label>
                        {{ form_widget(form.birthday)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.birthday) }}
                        </div>
                      </div>
                    </div>
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.lastName) }}</label>
                        {{ form_widget(form.lastName)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.lastName) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-form-row">
                    <label class="uk-form-label">{{ form_label(form.summary) }}</label>
                    {{ form_widget(form.summary)}}
                    <div class="parsley-errors-list filled uk-text-danger">
                      {{ form_errors(form.summary) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-width-1-1 section-col">
              <div class="cv-section-box">
                <!-- cv bloc education name -->
                <div class="cv-bloc-small-name">
                  <h3 class="font-nova no-margin uk-text-break  bloc-name">{{ 'user.profile.contact_info'|trans }}</h3>
                </div>
                <!-- cv bloc education title & description -->
                <div class="cv-bloc-description">
                  <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin="data-uk-grid-margin">
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.phone) }}</label>
                        {{ form_widget(form.phone)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.phone) }}
                        </div>
                      </div>
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.country) }}</label>
                        {{ form_widget(form.country)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.country) }}
                        </div>
                      </div>
                    </div>
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.codeZIP) }}</label>
                        {{ form_widget(form.codeZIP)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.codeZIP) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-form-row">
                    <label class="uk-form-label">{{ form_label(form.address) }}</label>
                    {{ form_widget(form.address)}}
                    <div class="parsley-errors-list filled uk-text-danger">
                      {{ form_errors(form.address) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-width-1-1 section-col">
              <div class="cv-section-box">
                <!-- cv bloc education name -->
                <div class="cv-bloc-small-name">
                  <h3 class="font-nova no-margin uk-text-break  bloc-name">{{ 'user.profile.position_info'|trans }}</h3>
                </div>
                <!-- cv bloc education title & description -->
                <div class="cv-bloc-description">
                  <div class="uk-form-row">
                    <label class="uk-form-label">{{ form_label(form.currentPosition) }}</label>
                    {{ form_widget(form.currentPosition)}}
                    <div class="parsley-errors-list filled uk-text-danger">
                      {{ form_errors(form.currentPosition) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-width-1-1 section-col">
              <div class="cv-section-box">
                <!-- cv bloc education name -->
                <div class="cv-bloc-small-name">
                  <h3 class="font-nova no-margin uk-text-break  bloc-name">{{ 'user.profile.account_info'|trans }}</h3>
                </div>
                <!-- cv bloc education title & description -->
                <div class="cv-bloc-description">
                  <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin="data-uk-grid-margin">
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.email) }}</label>
                        {{ form_widget(form.email)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.email) }}
                        </div>
                      </div>
                    </div>
                    <div class="uk-width-large-1-2">
                      <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.username) }}</label>
                        {{ form_widget(form.username)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                          {{ form_errors(form.username) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-form-row">
                    <label class="uk-form-label">{{ form_label(form.current_password) }}</label>
                    {{ form_widget(form.current_password)}}
                    <div class="parsley-errors-list filled uk-text-danger">
                      {{ form_errors(form.current_password) }}
                    </div>
                  </div>
                  {{ form_widget(form) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="md-fab-wrapper">
    <button type="submit" class="md-fab md-fab-accent md-fab-wave waves-effect waves-button">
      <i class="material-icons">&#xE161;</i>
    </button>
  </div>
  {{ form_end(form) }}
  <!-- cv content -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!-- page specific plugins -->
  <!-- file input -->
  <script src="{{ asset('uikit_fileinput.min.js')}}"></script>
{% endblock %}
