{% block fos_user_content %}
<div class="login_page_wrapper">
  <div class="md-card">
    <div class="md-card-content large-padding" id="login_password_reset">
      <a href="{{ path('fos_user_resetting_request')}}" role="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></a>
      <h2 class="heading_a uk-text-success uk-margin-medium-bottom">{% trans from "FOSUserBundle" %}resetting.email.subject{% endtrans %}</h2>
      {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
          {{ form_widget(form) }}
          <div class="uk-margin-medium-top">
            <button type="submit" class="md-btn md-btn-primary md-btn-block">{% trans from "FOSUserBundle" %}resetting.reset.submit{% endtrans %}</a>
          </div>
      {{ form_end(form) }}
    </div>
  </div>
  <div class="uk-margin-top uk-text-center">
    <a href="{{ url('fos_user_security_login') }}">{% trans from "FOSUserBundle" %}registration.back{% endtrans %}</a>
  </div>
</div>

{% endblock %}
