{% for skill in skills %}
  <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="data-uk-grid-margin">
    <div class="uk-width-4-10 uk-container-center">
      <p class="no-margin skill-name">{{ skill.skill|humanize }}</p>
    </div>
    <div class="uk-width-6-10 uk-container-center">
      <div class="progress no-margin">
        <div class="uk-progress uk-progress-success">
          <div class="uk-progress-bar md-bg-red-700" style="background-color: {{ skill.user.leftColor }} !important;width: {{skill.progress }}%;"></div>
        </div>
      </div>
    </div>
    <div class="uk-margin-small-top">
      <span class="uk-margin-right">
        <a class="delete-modal" data-msg="{{ 'cv.skill.delete'|trans }}" data-method="DELETE" data-url="{{ url('skill_delete',{'id': skill.id }) }}">
          <i class="material-icons uk-text-danger">&#xE872;</i>
          <span class="uk-text-muted uk-text-small">{{ 'action.delete'|trans }}</span>
        </a>
      </span>
      <span class="uk-margin-right">
        <a class="modal" data-method="GET" data-url="{{ url('skill_edit', {'id': skill.id }) }}">
          <i class="material-icons md-color-blue-grey-500">&#xE923;</i>
          <span class="uk-text-muted uk-text-small">{{ 'action.update'|trans }}</span>
        </a>
      </span>
    </div>
  </div>
{% endfor %}
