{% extends 'layout/base.html.twig' %}

{% block body_class %}header_double_height{% endblock %}

{% block body %}
  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE55B;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'business_directory.new.title'|trans }}
        </h3>
      </div>
      <div class="md-card-content">
        <div class="uk-margin-large-bottom">
          {{ form_start(form) }}
          <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin="data-uk-grid-margin">
            <div class="uk-width-1-2">

              <div class="uk-form-row uk-input-group ">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE54B;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.companyName) }}</label>
                {{ form_widget(form.companyName)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.companyName) }}
                </div>
              </div>

            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group ">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE52E;</i>
                </span>
                {{ form_widget(form.sector)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.sector) }}
                </div>
              </div>
            </div>
          </div>
          <div class="uk-form-row uk-input-group">
            <span class="uk-input-group-addon">
              <i class="md-list-addon-icon material-icons md-24">&#xE55C;</i>
            </span>
            <label class="uk-form-label">{{ form_label(form.companyAddress) }}</label>
            {{ form_widget(form.companyAddress)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.companyAddress) }}
            </div>
          </div>
          <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group ">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE0C8;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.longitude) }}</label>
                {{ form_widget(form.longitude)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.longitude) }}
                </div>
              </div>

            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group ">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE0C8;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.latitude) }}</label>
                {{ form_widget(form.latitude)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.latitude) }}
                </div>
              </div>
            </div>
          </div>
          {{ form_widget(form) }}

          {{ form_end(form) }}

          <div id="map_users_controls"></div>
          <div id="map_users" class="gmap"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <!-- page specific plugins -->
    <!-- maplace (google maps) -->
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="{{ asset('maplace.min.js') }}"></script>

    <!--  search results functions -->
    <script src="{{ asset('plugins_google_maps.min.js') }}"></script>
{% endblock %}
