{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Businessdirectory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ businessDirectory.id }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ businessDirectory.companyName }}</td>
            </tr>
            <tr>
                <th>Companyaddress</th>
                <td>{{ businessDirectory.companyAddress }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ businessDirectory.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ businessDirectory.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('businessdirectory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('businessdirectory_edit', { 'id': businessDirectory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
