{% extends 'layout/base.html.twig' %}

{% block title_page %}
  <div id="page_heading" class="non-printable" data-uk-sticky="{ top: 48, media: 960 }">
    <h1>{{ 'alert.show.title'|trans }}</h1>
    <span class="uk-text-muted uk-text-upper uk-text-small">
      {% block sub_title_page %}
        <a href="{{ path('alert_index') }}">{{ 'alert.list.title'|trans }}</a>
      {% endblock %}
    </span>
  </div>
{% endblock %}

{% block body %}
  <div class="md-card">
    <div class="md-card-toolbar">
      <h3 class="md-card-toolbar-heading-text">
        {{ 'alert.show.detail'|trans }}
      </h3>
    </div>
    <div class="md-card-content">

      <div class="uk-grid  uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">

        <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
          <ul class="md-list">
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ alert.title }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'alert.field.title'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ alert.type }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'alert.field.type'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ alert.description }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'alert.field.description'|trans }}</span>
            </li>
          </ul>
        </div>

        <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
          <h3 class="heading_c uk-margin-small-bottom uk-margin-small-top">
            {{ 'author.info'|trans }}
          </h3>
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if alert.updated %}{{ alert.updated|date('d M Y') }}
                  {% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if alert.created %}{{ alert.created|date('d M Y') }}
                  {% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {% if alert.users %}
      <hr class="uk-grid-divider">
      <div class="uk-overflow-container uk-margin-medium-bottom uk-margin-small-top">
        <table class="uk-table uk-table-striped">
          <thead>
            <tr>
              <th>{{ 'user.field.firstName'|trans }}</th>
              <th>{{ 'user.field.lastName'|trans }}</th>
              <th>{{ 'user.field.currentPosition'|trans }}</th>
              <th>{{ 'user.field.email'|trans }}</th>
              <th>{{ 'user.field.username'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in alert.users %}
              <tr>
                <td>{{ user.firstName|default('user.default.firstName'|trans) }}</td>
                <td>{{ user.lastName|default('user.default.lastName'|trans) }}</td>
                <td>{{ user.currentPosition|default('user.default.current_position'|trans) }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
