<!-- main sidebar -->
<aside id="sidebar_main">
  <div class="sidebar_main_header">
    <div class="sidebar_logo">
      <a href="#" class="sSidebar_hide sidebar_logo_large">
        <img class="logo_regular" src="{{ asset('logo_main@2x.png')}}" alt="" height="15" width="71"/>
        <img class="logo_light" src="{{ asset('logo_main_white@2x.png')}}" alt="" height="15" width="71"/>
      </a>
      <a href="#" class="sSidebar_show sidebar_logo_small">
        <img class="logo_regular" src="{{ asset('logo_main.png')}}" alt="" height="32" width="32"/>
        <img class="logo_light" src="{{ asset('logo_main_white.png')}}" alt="" height="32" width="32"/>
      </a>
    </div>
  </div>

  <div class="menu_section">
    <div class="menu_section">
      <ul>
        <li>
          <a href="{{ path('dashboard_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.dashboard'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('alert_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE003;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.alert'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('interests_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE8DC;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.intrests'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('user_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE7EF;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.condidate'|trans }}</span>
          </a>
        </li>
        <!-- <li>
          <a href="{# path('sector_index')#}">
            <span class="menu_icon"><i class="material-icons">&#xE54B;</i></span>
            <span class="uk-text-break menu_title">{# 'menu.sector'|trans #}</span>
          </a>
        </li> -->
        <li>
          <a href="{{ path('businessdirectory_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE0E0;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.Business_directory'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('contactus_index')}}">
            <span class="menu_icon"><i class="material-icons">&#xE0D0;</i></span>
            <span class="uk-text-break menu_title">{{ 'menu.contact'|trans }}</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- main sidebar end -->
